/* Custom styles for the Mess Management System */
body {
    background-color: #f8f9fa;
}

h1 {
    color: #007bff;
}

p {
    font-size: 1.2rem;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #007bff;
}

.navbar-nav .nav-link.active {
    color: #0056b3;
    font-weight: bold;
}
